{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Cardiological center{%endblock%}</title>
 <link rel="stylesheet" href="{% static '../static/bootstrap/css/base.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="fon1">
<table class="tab" >
    <tr>
            <th><a href="/staffs/admins/">Contacts</a> </th>
            <th><a href="patients/patient/">Patients</a> </th>
            <th><a href="doctors/doctor.html">Specialists</a> </th>
            <th><a href="/invest/invest/">Type of investigations</a> </th>
            <th><a href="hospital/price.html">Prices of services</a> </th>
            <th><a href="hospital/contact.html"></a>Hospital</th>
            <th><a href="hospital/schedule.html">Schedule time</a> </th>
            <th><a href="/signup/signup/">Login</a> </th>

    </tr>
</table>
<h1 class="head semi">{% block "header" %}Medical cardiological center{% endblock %}</h1>
<div>{% block "admins" %}{% endblock %}</div>
<div>{% block "test" %}{% endblock %}</div>
</body>
</html>