{% extends "hospital/home.html" %}
{% load static %}

    {% block title %}
		<title>Person</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static '../static/bootstrap/css/spec.css' %}">
	<link rel="stylesheet" href="{% static '../static/bootstrap/css/flex.css' %}">
{% endblock %}
{% block content %}
<img src="{{objects.img.url}}" id="picture_image">
<h1 id="spec_head">{{objects.first_name}}  {{objects.last_name}} </h1>
<ul class="lst">
<li >{{objects.occupation}}{{objects.image}}</li>
<li >{{objects.age}} years</li>
<li > Experience of occupation   {{objects.work_experience}}  years</li>
<li >{{objects.education}} {{objects.education.data}} </li>
</ul>
{% endblock %}

