{% extends "base.html" %}
{% load static %}
{% block title %}Administration{%endblock%}
{% block "header" %}Administration{% endblock %}
{% block "admins" %}
{% for e in form.non_field_errors %}
<div >{{ e }}</div>
{% endfor %}
<div class="foradmin1"><img src="/../static/bootstrap/img/admin/lion.jpg" class="picture_" >
    <span class="short" >Head administration
    {{person.last_name}} {{person.first_name}}
    </span>
</div>
<div class="subadmin">
    <p>{{message}}</p>
    <p> {{data}}</p>
     <p> {{user}}</p>
    </div>
{% endblock %}