{% extends "hospital/home.html" %}
{% load static %}

    {% block title %}
		<title>Specialists</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static '../static/bootstrap/css/spec.css' %}">
	<link rel="stylesheet" href="{% static '../static/bootstrap/css/flex.css' %}">
{% endblock %}


{% block content %}
{% for i in lst %}
<h1 id="spec_head">{{i.specialization}}</h1>
<p id="spec_head"> <a href="{{ i.get_absolute_url }}" id="ref">{{i.first_name}} {{i.last_name}} </a></p>
{% endfor %}
{% endblock %}

