{% extends "hospital/home.html" %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    {% block title %}
		<title>Specialists</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static '../static/bootstrap/css/spec.css' %}">
	<link rel="stylesheet" href="{% static '../static/bootstrap/css/flex.css' %}">




{% endblock %}

</head>

	<body>
	{% block content %}
	<div id="spec_head">
	{% for dat  in lst %}
	<h1 >{{dat.0}}</h1>
	<ul>
       {% for val in dat.1 %}
		<li ><a href="#">{{val}}</a></li>
       {% endfor %}

	</ul>
	{% endfor %}
	{% endblock %}
	</div>
	</body>
</html>

